<section class="cta">
    <div class="container">
      <h2>Pronto para a Transformação?</h2>
      <p>A Fluxo Digital & Tech está preparada para guiar sua empresa através da revolução digital do . Com nossas soluções integradas, sua empresa estará equipada com as melhores ferramentas para crescer, escalar e dominar o mercado.</p>
      <p><span class="highlight">O futuro do  é digital. O futuro começa agora.</span></p>
      <a (click)="scrollTo('contact')" class="btn"><span>Fale com nossos especialistas</span></a>
    </div>
  </section>